spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    hikari:
      maximum-pool-size: 20
      minimum-idle: 10
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000

  jpa:
    show-sql: false
    properties:
      hibernate:
        format_sql: false

  docker:
    compose:
      enabled: false

logging:
  level:
    root: WARN
    com.kaiz.lifeos: INFO
    org.springframework.security: WARN
    org.hibernate.SQL: WARN

management:
  endpoint:
    health:
      show-details: never
